In [3]:
import pandas as pd
#import plotly.plotly as py
#from plotly.graph_objs import *
df1 = pd.read_csv("pointcloud2.csv")
#print(df1)

In [4]:
df1.head()

   latitude  longitude   altitude  intensity
0  48.85886   2.299520  76.712226         29
1  48.85886   2.299524  76.724967         18
2  48.85886   2.299527  76.718664         11
3  48.85886   2.299529  76.718999         38
4  48.85886   2.299531  76.722693         13

In [5]:
df1.describe()

           latitude     longitude      altitude     intensity
count  1.046232e+06  1.046232e+06  1.046232e+06  1.046232e+06
mean   4.885883e+01  2.299287e+00  7.903778e+01  2.769370e+01
std    5.419245e-05  1.178129e-04  3.048668e+00  2.993129e+01
min    4.885861e+01  2.298957e+00  7.372273e+01  0.000000e+00
25%    4.885879e+01  2.299191e+00  7.679548e+01  6.000000e+00
50%    4.885883e+01  2.299284e+00  7.783335e+01  1.400000e+01
75%    4.885887e+01  2.299380e+00  8.020734e+01  4.500000e+01
max    4.885903e+01  2.299580e+00  9.837263e+01  1.970000e+02

In [6]:
df1.plot()